version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: blognext_postgres
    restart: always
    environment:
      POSTGRES_DB: blognext
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin123
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
